/aurora
/aurora.conf
/logs/
/repo/
/buffer
/dist
/authorized_keys
/aurora.key
/aurorad-rpcd
/pkg/bus/bus.test
/bus.test
/rpc
/aurorad
/aurorad-procd
/aurorad-queued
/*.key
/*.pub
/*.pem
/auroractl
/aurorad-storaged
/procd_repo
/procd_logs
