[Unit]
Description=Daemon for processing aurora packages

[Service]
ExecStart=/usr/bin/aurorad -P
Restart=always

[Install]
WantedBy=multi-user.target
