[Unit]
Description=Listener for distributing aurora repository

[Service]
ExecStart=/usr/bin/aurora -L
Restart=always

[Install]
WantedBy=multi-user.target
